:host {
  display: block;
}

::ng-deep .mat-stepper-horizontal {
  background: transparent;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
  display: none; /* chỉ dùng stepper làm header, content nằm trong router-outlet */
}

@media (max-width: 480px) {
  ::ng-deep .mat-step-label {
    display: none !important;
  }
}
